<app-header title="Change Password"></app-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      Por favor establezca una contraseña de mínimo 6 caracteres.
    </ion-item>
    <form [formGroup]="form" (ngSubmit)="passwordChange()">
      <ion-item>
        <ion-label position="floating">
          Contraseña
        </ion-label>
        <ion-input [type]="showOldPassword ? 'text': 'password'" formControlName="oldPassword"></ion-input>
        <ion-icon slot="end" name="eye" (click)="showOldPassword = !showOldPassword" [color]="showOldPassword ? 'primary': ''"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="eye" slot="end" (click)="showPassword = !showPassword" [color]="showPassword ? 'danger': ''"></ion-icon>
        <ion-label position="floating">Nueva Contraseña</ion-label>
        <ion-input formControlName="password"  [type]="showPassword ? 'text': 'password'"></ion-input>
        <ion-text style="font-size: 0.6em" color="danger" *ngIf="form.get('password').invalid && form.get('password').dirty">
          Su nueva contraseña debe contener más de 6 caracteres
        </ion-text>
        <ion-text style="font-size: 0.6em" color="success" *ngIf="form.get('password').valid && form.get('password').dirty">
          Correcto
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-icon name="eye" slot="end" (click)="showPasswordConfirm = !showPasswordConfirm" [color]="showPasswordConfirm ? 'danger': ''"></ion-icon>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="passwordConfirm" [type]="showPasswordConfirm ? 'text': 'password'"></ion-input>
        <ion-text style="font-size: 0.6em" color="danger" *ngIf="form.get('passwordConfirm').invalid && form.get('passwordConfirm').dirty">
          La nueva contraseña debe tener mínimo 6 caracteres.
        </ion-text>
        <ion-text style="font-size: 0.6em" color="danger"
                  *ngIf="form.get('passwordConfirm').value !== form.get('password').value && form.get('passwordConfirm').dirty">
          La contraseña y su confirmación no coinciden
        </ion-text>
        <ion-text style="font-size: 0.6em" color="success"
                  *ngIf="form.get('passwordConfirm').valid && form.get('passwordConfirm').dirty && form.get('passwordConfirm').value === form.get('password').value">
          Correcto
        </ion-text>
      </ion-item>
      <ion-button type="submit" color="danger" expand="full" [disabled]="form.invalid ||
                  (form.get('passwordConfirm').value !== form.get('password').value )">
        CAMBIAR CONTRASEÑA
      </ion-button>
    </form>
  </ion-list>
</ion-content>

