<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="ion-padding">
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-img src="assets/logo.jpg" style="width: 40%; margin: auto; margin-top: 20px"></ion-img>
          </ion-list-header>
                
          <ion-item>
            <label>Menú</label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = show">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list >
        <ion-button expand="full" (click)="logout()" color="danger">
          Desconectarse
        </ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  
</ion-app>