<ion-content class="ion-padding">
  <div class="ion-padding ion-text-center">
    <div>
        <ion-img src="../../assets/logo.jpg" style="width: 200px; margin: auto; margin-top: 40px"></ion-img>
        <ion-text style="font-size: 1.5em; margin-top: 10px" color="tertiary5">Bienvenid@ a <br>OET Test</ion-text>
        <hr />
    </div>

  <ion-list class="ion-padding">
    <ion-item>
    </ion-item>
    <form [formGroup]="form" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">
          Email
        </ion-label>
        <ion-input formControlName="email" (ionChange)="clearEmail()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          Contraseña
        </ion-label>
        <ion-input [type]="showPassword ? 'text': 'password'" formControlName="password"></ion-input>
        <ion-icon slot="end" name="eye" (click)="showPassword = !showPassword" [color]="showPassword ? 'primary': ''"></ion-icon>
      </ion-item>
      <ion-button type="submit" expand="full" [disabled]="form.invalid" color="success">INGRESAR</ion-button>
    </form>
    <ion-button [routerLink]="['/signup']" expand="full">REGISTRATE!</ion-button>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-label slot="end" color="secondary">Developed By <strong>Fernando Barón</strong></ion-label>
  </ion-toolbar>
</ion-footer>
